<footer class="bg-dark text-white py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3">
                <h5>Fashion Store</h5>
                <p>Your one-stop destination for trendy and affordable clothing.</p>
                <div class="social-icons">
                    <a href="#" class="text-white me-2"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="text-white me-2"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-white me-2"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="text-white"><i class="fab fa-pinterest"></i></a>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-white">Home</a></li>
                    <li><a href="/products" class="text-white">Shop</a></li>
                    <li><a href="/about" class="text-white">About Us</a></li>
                    <li><a href="/contact" class="text-white">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-3 mb-3">
                <h5>Categories</h5>
                <ul class="list-unstyled">
                    <li><a href="/products?category=men" class="text-white">Men's Clothing</a></li>
                    <li><a href="/products?category=women" class="text-white">Women's Clothing</a></li>
                    <li><a href="/products?category=accessories" class="text-white">Accessories</a></li>
                    <li><a href="/products?category=sale" class="text-white">Sale Items</a></li>
                </ul>
            </div>
            <div class="col-md-2 mb-3">
                <h5>Help</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Shipping</a></li>
                    <li><a href="#" class="text-white">Returns</a></li>
                    <li><a href="#" class="text-white">Sizing</a></li>
                    <li><a href="#" class="text-white">FAQ</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <p class="mb-0">&copy; 2025 Fashion Store. All rights reserved.</p>
            </div>
            <div class="col-md-6 text-md-end">
                <p class="mb-0">
                    <a href="#" class="text-white me-3">Privacy Policy</a>
                    <a href="#" class="text-white">Terms of Service</a>
                </p>
            </div>
        </div>
    </div>
</footer>
