<div class="container py-5 text-center">
    <div class="mb-4">
        <i class="fas fa-exclamation-triangle text-warning fa-5x"></i>
    </div>
    <h1 class="mb-3">Oops! Something went wrong</h1>
    
    <% if (locals.message) { %>
        <p class="lead"><%= message %></p>
    <% } else { %>
        <p class="lead">We're sorry, but there was an error processing your request.</p>
    <% } %>
    
    <div class="mt-4">
        <a href="/" class="btn btn-primary">Back to Home</a>
    </div>
</div>
